@page
@model IndexModel
@{
    ViewData["Title"] = "Frederick Mutual - Systems Maintenance";
}

<div class="text-center">
    <h1 class="display-4">Frederick Mutual Insurance Company</h1>
    <p><b>On Friday June 5, 2020 and Saturday June 6, 2020 our website is undergoing maintenance. The website should be available after 1 PM on Saturday June 6.  Thank you for your patience.</b></p>
</div>
