@page
@model IndexModel
@{
    ViewData["Title"] = "Frederick Mutual - Systems Maintenance";
}

<div class="text-center">
    <h1 class="display-4">Frederick Mutual Insurance Company</h1>
    <p><b>On Sunday June 7, 2020 and Monday June 8, 2020 our website is undergoing maintenance. 
        <br />The website should be available shortly.  Thank you for your patience. <br /> <br />If you need immediate assistance, please contact helpdesk@frederickmutual.com</b></p>
</div>
